In [5]:
sql = '''
CREATE TABLE IF NOT EXISTS records (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	sitename TEXT NOT NULL,
	county TEXT,
	aqi INTEGER,
	status TEXT,
	pm25 NUMERIC,
	date TEXT,
	lat NUMERIC,
	lon NUMERIC
);
'''
import sqlite3

conn = sqlite3.connect('aqi1.db')

cursor = conn.cursor()

cursor.execute(sql)

conn.commit()
cursor.close()
conn.close()

In [9]:
insertSQL = '''
INSERT INTO records(sitename,county,aqi,status,pm25,date,lat,lon)
values ('屏東(枋山)','屏東縣',17,'良好',6.2,'2024-10-28 09:00',22.260899,120.651472)
'''
conn = sqlite3.connect('aqi1.db')

cursor = conn.cursor()

cursor.execute(insertSQL)
# 執行1000次(迴圈)

conn.commit()
cursor.close()
conn.close()